extends ../../../partial/pug/isolate

block content
  .d-flex.align-items-center.flex-wrap(style="gap: 1rem;")
    .border-solid-sm.p-2x.text-nowrap border-solid-sm
    .border-solid-md.p-2x.text-nowrap border-solid-md
    .border-solid-lg.p-2x.text-nowrap border-solid-lg

  .mt-3x.d-flex.align-items-center.flex-wrap(style="gap: 1rem;")
    .border-dashed-sm.p-2x.text-nowrap border-dashed-sm
    .border-dashed-md.p-2x.text-nowrap border-dashed-mdg
    .border-dashed-lg.p-2x.text-nowrap border-dashed-lg

  .mt-3x.d-flex.align-items-center.flex-wrap(style="gap: 1rem;")
    .border-solid-lg.border-magenta-20.p-2x.text-nowrap border-solid-lg e border-magenta-20
    .border-dashed-md.border-yellow-20.p-2x.text-nowrap border-dashed-md e border-yellow-20
