extends ../../../partial/pug/isolate

block content
  .d-flex.align-items-center.flex-wrap(style="gap: 1rem;")
    .border-solid-sm.overflow-hidden(style="position: relative;")
      .bg-magenta-20.opacity-none(style="position: absolute; inset: 0; z-index: -1;")
      .p-2x.text-nowrap opacity-none
    .border-solid-sm.overflow-hidden(style="position: relative;")
      .bg-magenta-20.opacity-xs(style="position: absolute; inset: 0; z-index: -1;")
      .p-2x.text-nowrap opacity-xs
    .border-solid-sm.overflow-hidden(style="position: relative;")
      .bg-magenta-20.opacity-sm(style="position: absolute; inset: 0; z-index: -1;")
      .p-2x.text-nowrap opacity-sm
    .border-solid-sm.overflow-hidden(style="position: relative;")
      .bg-magenta-20.opacity-md(style="position: absolute; inset: 0; z-index: -1;")
      .p-2x.text-nowrap opacity-md
    .border-solid-sm.overflow-hidden(style="position: relative;")
      .bg-magenta-20.opacity-lg(style="position: absolute; inset: 0; z-index: -1;")
      .p-2x.text-nowrap opacity-lg
    .border-solid-sm.overflow-hidden(style="position: relative;")
      .bg-magenta-20.opacity-xl(style="position: absolute; inset: 0; z-index: -1;")
      .p-2x.text-nowrap opacity-xl
    .border-solid-sm.overflow-hidden(style="position: relative;")
      .bg-magenta-20.opacity-default(style="position: absolute; inset: 0; z-index: -1;")
      .p-2x.text-nowrap opacity-default
