extends ../../../partial/pug/isolate

block content
  .d-flex.align-items-center.flex-wrap(style="gap: 1rem;")
    .border-solid-sm.rounder-none.p-2x.text-nowrap rounder-none
    .border-solid-sm.rounder-sm.p-2x.text-nowrap rounder-sm
    .border-solid-sm.rounder-md.p-2x.text-nowrap rounder-md
    .border-solid-sm.rounder-lg.p-2x.text-nowrap rounder-lg
    .border-solid-sm.rounder-pill.p-2x.text-nowrap rounder-pill
