SECRET_KEY='sua_chave_aqui'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=seu_banco
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_HOST=seu_host
POSTGRES_PORT=5432
POSTGRES_SSL=require

CLOUDINARY_URL=sua_url_cloudinary
