extends ../../../partial/pug/isolate
include ../../../components/checkbox/checkbox

block content
  .container-fluid
    .bg-pure-0
      p O card abaixo tem o tamanho de uma coluna <code>col-6</code>.
      .row
        .col-6
          .br-card
            .card-content
              p.m-0 lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
