{% extends "portal/base.html" %}
{% block title %}Início{% endblock %}
{% block content %}
  <h1 class="mb-3">Olá, {{ u.nome_completo }}</h1>
  <p class="text-down-01 mb-4">Perfil: cidadão</p>
  <div class="row g-3">
    <div class="col-md-4">
      <a class="br-button secondary block" href="{% url 'portal:catalogo_servicos' %}">Categorias e serviços</a>
    </div>
    <div class="col-md-4">
      <a class="br-button primary block" href="{% url 'portal:cidadao_chamado_novo' %}">Abrir chamado</a>
    </div>
    <div class="col-md-4">
      <a class="br-button secondary block" href="{% url 'portal:cidadao_chamados' %}">Meus chamados</a>
    </div>
    <div class="col-md-4">
      <a class="br-button secondary block" href="{% url 'portal:cidadao_notificacoes' %}">Notificações</a>
    </div>
  </div>
{% endblock %}
