extends ../../../partial/pug/isolate

block content
  .d-flex.flex-column(style="gap: 0.5rem;")
    .border-solid-sm.border-blue-30.p-3
      p.mb-0 border-blue-30
    .border-solid-md.border-green-vivid-20.p-3
      p.mb-0 border-green-vivid-20
    .border-solid-lg.border-red-cool-20.p-3
      p.mb-0 border-red-cool-20
    .border-dashed-lg.border-indigo-warm-20.p-3
      p.mb-0 border-indigo-warm-20
