extends ../../../partial/pug/isolate

block content
  .bg-blue-10.p-3
    p.mb-0 bg-blue-10
  .bg-violet-vivid-20.p-3
    p.mb-0 bg-violet-vivid-20
  .bg-red-cool-20.p-3
    p.mb-0 bg-red-cool-20
  .bg-indigo-warm-10.p-3
    p.mb-0 bg-indigo-warm-10
  .bg-warning.p-3
    p.mb-0 bg-warning
