extends ../../../partial/pug/isolate

block content
  p.text-blue-50 text-blue-50
  p.text-violet-vivid-60 text-violet-vivid-60
  p.text-red-cool-60 text-red-cool-60
  p.text-indigo-warm-50 text-indigo-warm-50
  p.text-danger text-danger
