extends ../../../partial/pug/isolate

block content
  code text-lowercase
  p.text-lowercase Força todas as letras minúsculas

  code text-uppercase
  p.text-uppercase Força todas as letras maiúsculas

  code text-capitalize
  p.text-capitalize Primeira letra de cada palavra em maiúsculo
