extends ../../../partial/pug/isolate

block content
  p Texto original: <em>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, eligendi officia nostrum incidunt odit laboriosam exercitationem ab possimus itaque enim atque suscipit laborum debitis saepe aspernatur veniam reiciendis cumque assumenda!"</em>

  .overflow-auto.border-solid-sm(style="width: 300px; height: 100px;")
    p.p-base
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, eligendi officia nostrum incidunt odit laboriosam exercitationem ab possimus itaque enim atque suscipit laborum debitis saepe aspernatur veniam reiciendis cumque assumenda!

  .mt-3x.overflow-hidden.border-solid-sm(style="width: 300px; height: 100px;")
    p.p-base
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, eligendi officia nostrum incidunt odit laboriosam exercitationem ab possimus itaque enim atque suscipit laborum debitis saepe aspernatur veniam reiciendis cumque assumenda!
