extends ../../../partial/pug/isolate

block content
  .p-base.border-solid-sm
    .text-wrap Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis architecto minus commodi rem voluptates neque quis aut. Odio tenetur laudantium ipsum voluptatum neque! Alias sunt beatae a unde ad quod!

  .p-base.border-solid-sm.mt-3x.overflow-auto
    .text-nowrap Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis architecto minus commodi rem voluptates neque quis aut. Odio tenetur laudantium ipsum voluptatum neque! Alias sunt beatae a unde ad quod!

  .p-base.border-solid-sm.mt-3x
    .text-truncate Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis architecto minus commodi rem voluptates neque quis aut. Odio tenetur laudantium ipsum voluptatum neque! Alias sunt beatae a unde ad quod!
