extends ../../../partial/pug/isolate
include ../../../components/card/card

block content
  p.border-solid-sm.p-base.text-left text-left
  .my-3x
  p.border-solid-sm.p-base.text-center text-center
  .my-3x
  p.border-solid-sm.p-base.text-right text-right
