extends ../../../partial/pug/isolate

block content
  p.h3 Margin

  .d-flex.align-items-center.flex-wrap(style="gap: 1rem;")
    .bg-magenta-20
      .border-dashed-lg.bg-pure-0.p-3x.m-base
        p.mb-0.text-nowrap m-base

    .bg-magenta-20
      .border-dashed-lg.bg-pure-0.p-3x.m-2x
        p.mb-0.text-nowrap m-2x

    .bg-magenta-20
      .border-dashed-lg.bg-pure-0.p-3x.m-3x
        p.mb-0.text-nowrap m-3x

    .bg-magenta-20
      .border-dashed-lg.bg-pure-0.p-3x.m-4x
        p.mb-0.text-nowrap m-4x

    .bg-magenta-20
      .border-dashed-lg.bg-pure-0.p-3x.m-5x
        p.mb-0.text-nowrap m-5x

  p.h3 Padding

  .d-flex.align-items-center.flex-wrap(style="gap: 1rem;")
    .border-dashed-lg.p-base.bg-magenta-20
      .bg-pure-0.p-3x
        p.mb-0.text-nowrap p-base

    .border-dashed-lg.p-2x.bg-magenta-20
      .bg-pure-0.p-3x
        p.mb-0.text-nowrap p-2x

    .border-dashed-lg.p-3x.bg-magenta-20
      .bg-pure-0.p-3x
        p.mb-0.text-nowrap p-3x

    .border-dashed-lg.p-4x.bg-magenta-20
      .bg-pure-0.p-3x
        p.mb-0.text-nowrap p-4x

    .border-dashed-lg.p-5x.bg-magenta-20
      .bg-pure-0.p-3x
        p.mb-0.text-nowrap p-5x