extends ../../../partial/pug/isolate

block content
  p.h3 Margin

  .d-flex.align-items-center(style="gap: 1rem;")
    .bg-magenta-20
      .border-dashed-lg.bg-pure-0.p-3x.mt-3x
        p.mb-0 mt-3x

    .bg-magenta-20
      .border-dashed-lg.bg-pure-0.p-3x.mr-3x
        p.mb-0 mr-3x

    .bg-magenta-20
      .border-dashed-lg.bg-pure-0.p-3x.mb-3x
        p.mb-0 mb-3x

    .bg-magenta-20
      .border-dashed-lg.bg-pure-0.p-3x.ml-3x
        p.mb-0 ml-3x

  p.h3 Padding

  .d-flex.align-items-center(style="gap: 1rem;")
    .border-dashed-lg.pt-3x.bg-magenta-20
      .bg-pure-0.p-3x
        p.mb-0 pt-3x

    .border-dashed-lg.pr-3x.bg-magenta-20
      .bg-pure-0.p-3x
        p.mb-0 pr-3x

    .border-dashed-lg.pb-3x.bg-magenta-20
      .bg-pure-0.p-3x
        p.mb-0 pb-3x

    .border-dashed-lg.pl-3x.bg-magenta-20
      .bg-pure-0.p-3x
        p.mb-0 pl-3x
