extends ../../../partial/pug/isolate

block content
  .p-5.layer-0.bg-gray-5
    p Camada 0

    .p-5.layer-1.bg-blue-10
      p Camada 1

      .p-5.layer-2.bg-yellow-10
        p Camada 2

        .p-5.layer-3.bg-gray-5
          p Camada 3

          .p-5.layer-4.bg-green-10
            p Camada 4
