extends ../../../partial/pug/isolate

block content
  p.h3 Externas
  .d-flex.align-items-center.flex-wrap(style="gap: 1rem;")
    .shadow-sm.text-nowrap.p-2x shadow-sm
    .shadow-md.text-nowrap.p-2x shadow-md
    .shadow-lg.text-nowrap.p-2x shadow-lg
    .shadow-xl.text-nowrap.p-2x shadow-xl

  p.h3 internas
  .d-flex.align-items-center.flex-wrap(style="gap: 1rem;")
    .shadow-sm-inset.text-nowrap.p-2x shadow-sm-inset
    .shadow-md-inset.text-nowrap.p-2x shadow-md-inset
    .shadow-lg-inset.text-nowrap.p-2x shadow-lg-inset
    .shadow-xl-inset.text-nowrap.p-2x shadow-xl-inset
